@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.warehouse-home-page {
    background-color: variables.$color-white;
    margin: -3.5rem 1rem;
    // min-height: 10rem;
    border-radius: .25rem;

    @include mixins.tablet {
        margin: -7rem 1rem;
    }

    &__content-container {
        box-shadow: 0 .1875rem .625rem rgba(0, 0, 0, 0.2);
    }

    &__header-content {
        padding: 0 1rem;

        @include mixins.tablet {
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
        }
    }

    &__header {
        margin: 0;
        padding: 1.5rem 0 1rem 0;
    }

    &__search-add-container {
        @include mixins.tablet {
            width: 100%;
            display: flex;
            padding-top: .875rem;
            justify-content: flex-end;
        }
    }

    &__search-input {
        display: block;
        @include mixins.mobile-form-field;
        border: 1px solid variables.$color-borders;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-position: 96% 50%;
        margin-bottom: 1rem;

        @include mixins.tablet {
            margin-bottom: 0;
            width: 33%;
        }

        &:focus {
            border: 1px solid variables.$color-primary-cta;
        }
        
        &::placeholder {
            color: variables.$color-headers-placeholders;
        }
    }

    &__add-new-warehouse-link {
        @include mixins.tablet {
            width: 33%;
            margin-left: 1rem;
        }
    }

    &__add-warehouse-button {
        display: block;
        @include mixins.cta-button-mobile;
        @include mixins.mobile-label-link-button;
        border: none;
        background-color: variables.$color-primary-cta;
        color: variables.$color-white;
        cursor: pointer;
        margin-bottom: 1.5rem;

        @include mixins.tablet {
            margin-bottom: 0;
        }

        &:hover {
            background-color: variables.$color-background-dark;
        }
    }

    &__sort-buttons-container {
        display: none;

        @include mixins.tablet {
            background-color: variables.$color-background-light;
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
        }
    }

    &__sort {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        color: variables.$color-headers-placeholders;
        width: 20%;
    }

    &__sort-icon--active {
        filter: brightness(0) saturate(100%) invert(29%) sepia(93%) saturate(1782%) hue-rotate(214deg) brightness(93%) contrast(93%);
    }

    &__actions {
        padding: 0;
        border: none;
        background-color: transparent;
        color: variables.$color-headers-placeholders;
        width: 20%;
    }

    &__warehouse-sort-header, &__address-sort-header, &__contact-name-sort-header, &__contact-info-sort-header, &__actions-header {
        font-size: .6875rem;
    }
}