@use './styles/partials/mixins.scss';
@use './styles/partials/variables.scss';
@use './styles/partials/typography.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}