@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.inventory-details-page {
    background-color: variables.$color-white;
    margin: -3.5rem 1rem;
    border-radius: .25rem;

    @include mixins.tablet {
        margin: -7rem 2.5rem;
    }

    &__content-container {
        box-shadow: 0 .1875rem .625rem rgba(0, 0, 0, 0.2);
    }

    &__header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        @include mixins.tablet {
            padding: 0 2rem;
        }
    }

    &__header-container {
        display: flex;
        align-items: center;
    }

    &__arrow-back-button {
        border: none;
        background-color: transparent;
        height: 2.25rem;
        width: 2.25rem;
        margin-top: .25rem;
    }

    &__arrow-back-icon {
        cursor: pointer;
    }

    &__header {
        color: variables.$color-primary-text;

        @include mixins.tablet {
            margin: 2.1875rem 0;
        }
    }

    &__edit-button {
        background-color: variables.$color-primary-cta;
        border: none;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        cursor: pointer;
        
        &:hover {
            background-color: variables.$color-background-dark;
        }

        @include mixins.tablet {
            border-radius: 1.25rem;
            width: 5.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }

    &__edit-text {
        display: none;

        @include mixins.tablet {
            display: initial;
            color: variables.$color-white;
            @include mixins.label-link-button;
            margin: 0;
        }
    }

    &__edit-icon {
        filter: brightness(0) invert(1);
    }

    &__item-details {
        border-top: 1px solid variables.$color-borders;
        padding: 1rem 1rem;

        @include mixins.tablet {
            border-top: 2px solid variables.$color-borders;
            padding: 2rem 2rem;
            display: flex;
        }
    }

    &__item-category-container {
        @include mixins.tablet {
            width: 50%;
            border-right: 2px solid variables.$color-borders;
        }
    }

    &__item-header {
        margin: 0 0 .5rem;
        color: variables.$color-headers-placeholders;
    }

    &__description {
        margin: .5rem 0 1rem;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;

        @include mixins.tablet {
            @include mixins.body-medium;
            margin-bottom: 2rem;
            width: 85%;
        }
    }

    &__category {
        margin: .5rem 0 1rem;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;

        @include mixins.tablet {
            @include mixins.body-medium;
            margin: 0;
        }
    }

    &__status-quantity-warehouse-container {
        @include mixins.tablet {
            width: 50%;
            padding-left: 2rem;
        }
    }

    &__status-quantity-container {
        display: flex;

        @include mixins.tablet {
            margin-bottom: 2rem;
        }
    }

    &__status-content {
        flex: 1;
    }

    &__status {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0;
        padding-top: .125rem;
        text-transform: uppercase;
        font-weight: 600;

        @include mixins.tablet {
            @include mixins.body-medium;
        }
    }

    &__status-tag {
        &--instock {
            @include mixins.mobile-tag-instock;

            @include mixins.tablet {
                @include mixins.tag-instock;
            }
        }
        &--outofstock {
            @include mixins.mobile-tag-outofstock;

            @include mixins.tablet {
                @include mixins.tag-outofstock;
                padding-top: .125rem;
            }
        }
    }

    &__quantity-content {
        flex: 1;
    }

    &__quantity {
        margin: .5rem 0 1rem;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;

        @include mixins.tablet {
            @include mixins.body-medium;
        }
    }

    &__warehouse {
        margin: .5rem 0 0;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;

        @include mixins.tablet {
            @include mixins.body-medium;
        }
    }
}