@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.mobile-warehouse-card {
    display: flex;
    flex-direction: column;
    border-top: 1px solid variables.$color-borders;
    padding: 1rem 1rem 0;

    &__details-container {
        display: flex;
        justify-content: space-around;
    }

    &__warehouse-details {
        flex: 1;
    }

    &__warehouse-header {
        margin: 0 0 .5rem;
        @include mixins.mobile-table-header;
        color: variables.$color-headers-placeholders;
    }

    &__warehouse-link {
        text-decoration: none;
    }

    &__name-icon-button {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    &__warehouse-name {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-cta;
        margin: 0;
        cursor: pointer;
    }

    &__address-header {
        margin: 1rem 0 0;
        @include mixins.mobile-table-header;
        color: variables.$color-headers-placeholders;
    }

    &__address-street {
        margin: .5rem 0 0;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
    }

    &__address-city-country {
        margin: .25rem 0 0;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
    }

    &__contact-details {
        flex: 1;
    }

    &__contact-header {
        margin: 0 0 .5rem;
        @include mixins.mobile-table-header;
        color: variables.$color-headers-placeholders;
    }

    &__contact-name {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0;
        padding-top: 2px;
    }

    &__contact-info-header {
        margin: 1.125rem 0 0;
        @include mixins.mobile-table-header;
        color: variables.$color-headers-placeholders;
    }

    &__contact-number {
        margin: .5rem 0 0;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
    }

    &__contact-email {
        margin: .25rem 0 0;
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
    }


    &__trashcan-button {
        border: none;
        background: transparent;
        padding: 0;
        margin: 1rem 0 1.5rem;
    }

    &__trashcan {
        cursor: pointer;
    }

    &__edit-button {
        margin: 1rem 0 1.5rem 6rem;
        border: none;
        background: transparent;
        padding: 0;
    }

    &__edit {
        cursor: pointer;
    }

    &__not-found-container {
        padding: .5rem;
    }

    &__not-found {
        text-align: center;
        margin: 0;
        background-color: rgba(201, 69, 21, 0.07);
        color: rgb(201, 69, 21, 1);
        border-radius: 1.25rem
    }
}