@use './variables.scss';

@mixin tablet {
    @media (min-width: variables.$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$breakpoint-desktop) {
        @content;
    }
}

/* Mobile Type Kit */ 
@mixin mobile-page-header {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

@mixin mobile-subheader {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@mixin mobile-label-link-button {
    font-size: .8125rem;
    line-height: 1.25rem;
}

@mixin mobile-table-header {
    font-size: .6875rem;
    line-height: 1rem;
}

@mixin mobile-body-large {
    font-size: .9375rem;
    line-height: 1.625rem;
}

@mixin mobile-body-medium {
    font-size: .8125rem;
    line-height: 1.25rem;
}

@mixin mobile-form-error-text {
    font-size: .6875rem;
    line-height: 1rem;
}

/* Desktop & Tablet Type Kit */
@mixin page-header {
    font-size: 2rem;
    line-height: 2.5rem
}

@mixin subheader {
    font-size: 1.5rem;
    line-height: 2rem
}

@mixin label-link-button {
    font-size: .875rem;
    line-height: 1.375rem
}

@mixin table-header {
    font-size: .75rem;
    line-height: 1.125rem
}

@mixin body-text {
    font-size: 1rem;
    line-height: 1.75rem;
}

@mixin copyright-text {
    font-size: .875rem;
    line-height: 1.375rem;
}

@mixin form-error-text {
    font-size: .75rem;
    line-height: 1.125rem;
}

@mixin cta-button-mobile {
    height: 2.25rem;
    width: 100%;
    border-radius: 1.25rem;
}

@mixin cta-button {
    height: 2.375rem;
    width: auto;
    padding: 0 1rem;
    border-radius: 1.25rem;
}

@mixin mobile-form-field {
    height: 2.25rem;
    width: 100%;
    padding: 0 1rem;
    border-radius: 1.25rem;
}

@mixin form-field {
    height: 2.375rem;
    padding: 0 1rem;
    border-radius: 1.25rem;
}

@mixin mobile-tag-instock {
    height: 1.5rem;
    padding: 0 .5rem;
    background-color: rgba(21, 132, 99, 0.07);
    color: rgb(21, 132, 99);
    border-radius: 1.25rem
}

@mixin mobile-tag-outofstock {
    height: 1.5rem;
    padding: 0 .5rem;
    background-color: rgba(201, 69, 21, 0.07);
    color: rgb(201, 69, 21, 1);
    border-radius: 1.25rem
}