/* Media Breakpoints */
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

/* Primary Colors */
$color-primary-text: #13182C;
$color-primary-cta: #2E66E5;
$color-white: #FFFFFF;

/* Secondary Colors */
$color-headers-placeholders: #5C667E;
$color-borders: #BDC5D5;

/* Background Colors */
$color-background-dark: #232940;
$color-background-light: #F7F8F9;

/* Supporting Colors */
$color-instock: #158463;
$color-error: #C94515;
