@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.edit-warehouse-form {

    &__input-section {
        @include mixins.tablet {
            display: flex;
            padding: 1rem;
        }
    }

    &__warehouse-details-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid variables.$color-borders;
        padding: 0 1rem .5rem;

        @include mixins.tablet {
            width: 50%;
            border-bottom: none;
            border-right: 2px solid variables.$color-borders;
            padding-right: 2rem;
        }
    }

    &__contact-details-container {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        @include mixins.tablet {
            width: 50%;
            padding-left: 2rem;
        }
    }

    &__header {
        color: variables.$color-primary-text;
        
        @include mixins.tablet {
            margin: 1rem 0;
        }
    }

    &__label {
        @include mixins.mobile-label-link-button;
        color: variables.$color-primary-text;
        font-weight: 600;
        margin-bottom: .25rem;

        &:focus {
            border: 1px solid variables.$color-primary-cta;
        }

        @include mixins.tablet {
            @include mixins.label-link-button;
        }
    }

    &__input {
        @include mixins.mobile-form-field;
        color: variables.$color-primary-text;
        border: 1px solid variables.$color-borders;
        margin-bottom: 1rem;

        &:focus {
            border: 1px solid variables.$color-primary-cta;
        }

        &--error {
            display: flex;
            align-items: center;
            margin: -0.5rem 0 1rem;
        }

        @include mixins.tablet {
            @include mixins.form-field;
        }
    }

    &__error-icon {
        height: .9375rem;
    }

    &__error-text {
        @include mixins.mobile-form-error-text;
        color: variables.$color-error;
        margin: 0 0 0 .25rem;
    }

    &__button-container {
        display: flex;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
        background-color: variables.$color-background-light;

        @include mixins.tablet {
            justify-content: flex-end;
        }
    }

    &__cancel-button {
        width: 100%;
        @include mixins.cta-button-mobile;
        @include mixins.mobile-label-link-button;
        background-color: variables.$color-white;
        border: 1px solid variables.$color-borders;
        color: variables.$color-headers-placeholders;

        &:hover {
            border: 1px solid variables.$color-primary-cta;
            color: variables.$color-primary-cta;
            cursor: pointer;
        }

        @include mixins.tablet {
            width: 5rem;
            @include mixins.cta-button;
            @include mixins.label-link-button;
        }
    }

    &__save-button {
        width: 100%;
        @include mixins.cta-button-mobile;
        @include mixins.mobile-label-link-button;
        background-color: variables.$color-primary-cta;
        border: none;
        color: variables.$color-white;

        &:hover {
            background-color: variables.$color-background-dark;
            cursor: pointer;
        }

        @include mixins.tablet {
            width: 4rem;
            margin-right: 1rem;
        }
    }
}