@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.add-inventory-form {

    &__input-section {
        @include mixins.tablet {
            display: flex;
            padding: 1rem;
        }
    }

    &__item-details-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid variables.$color-borders;
        padding: 0 1rem .5rem;

        @include mixins.tablet {
            width: 50%;
            border-bottom: none;
            border-right: 2px solid variables.$color-borders;
            padding-right: 2rem;
        }
    }

    &__item-availability-container {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        @include mixins.tablet {
            width: 50%;
            padding-left: 2rem;
        }
    }

    &__header {
        color: variables.$color-primary-text;

        @include mixins.tablet {
            margin: 1rem 0;
        }
    }

    &__label {
        @include mixins.mobile-label-link-button;
        color: variables.$color-primary-text;
        font-weight: 600;
        margin-bottom: .25rem;

        &--status {
            color: variables.$color-headers-placeholders;

            @include mixins.tablet {
                @include mixins.label-link-button;
            }
        }

        @include mixins.tablet {
            @include mixins.label-link-button;
        }
    }

    &__input {
        @include mixins.mobile-body-medium;
        @include mixins.mobile-form-field;
        color: variables.$color-primary-text;
        border: 1px solid variables.$color-borders;
        margin-bottom: 1rem;

        &:focus {
            border: 1px solid variables.$color-primary-cta;
        }

        &--error {
            display: flex;
            align-items: center;
            margin: -0.5rem 0 1rem;
        }

        @include mixins.tablet {
            @include mixins.form-field;
            @include mixins.body-medium
        }
    }

    &__input-textarea {
        font-family: "Titillium Web", sans-serif;
        @include mixins.mobile-body-medium;
        @include mixins.mobile-form-field;
        padding: .5rem 1rem;
        color: variables.$color-primary-text;
        border: 1px solid variables.$color-borders;
        margin-bottom: 1rem;
        height: 7rem;

        &:focus {
            border: 1px solid variables.$color-primary-cta;
        }

        @include mixins.tablet {
            @include mixins.body-medium
        }
    }

    &__select {
        @include mixins.mobile-body-medium;
        @include mixins.mobile-form-field;
        color: variables.$color-primary-text;
        border: 1px solid variables.$color-borders;
        margin-bottom: 1rem;
        appearance: none; //hides default arrow down 
        background-image: url('../../assets/icons/arrow_drop_down.svg');
        background-repeat: no-repeat;
        background-position: 97% 50%;

        &:invalid {
            color: variables.$color-headers-placeholders;
        }

        &:focus {
            border: 1px solid variables.$color-primary-cta;
        }

        @include mixins.tablet {
            @include mixins.body-medium;
        }
    }

    &__radio-button-container {
        display: flex;
        margin-bottom: 1rem;
    }

    &__instock-option {
        flex: 1;
    }

    &__outofstock-option {
        flex: 1;
    }

    &__error-icon {
        height: .9375rem;
    }

    &__error-text {
        @include mixins.mobile-form-error-text;
        color: variables.$color-error;
        margin: 0 0 0 .25rem;
    }

    &__button-container {
        display: flex;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
        background-color: variables.$color-background-light;

        @include mixins.tablet {
            justify-content: flex-end;
        }
    }

    &__cancel-button {
        width: 100%;
        @include mixins.cta-button-mobile;
        @include mixins.mobile-label-link-button;
        background-color: variables.$color-white;
        border: 1px solid variables.$color-borders;
        color: variables.$color-headers-placeholders;

        &:hover {
            border: 1px solid variables.$color-primary-cta;
            color: variables.$color-primary-cta;
            cursor: pointer;
        }

        @include mixins.tablet {
            width: 5rem;
            @include mixins.cta-button;
            @include mixins.label-link-button;
        }
    }

    &__save-button {
        width: 100%;
        @include mixins.cta-button-mobile;
        @include mixins.mobile-label-link-button;
        background-color: variables.$color-primary-cta;
        border: none;
        color: variables.$color-white;

        &:hover {
            background-color: variables.$color-background-dark;
            cursor: pointer;
        }

        @include mixins.tablet {
            width: 4rem;
            margin-right: 1rem;
        }
    }
}