@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.edit-warehouse-page {
    background-color: variables.$color-white;
    margin: -3.5rem 1rem;
    border-radius: .25rem;

    @include mixins.tablet {
        margin: -7rem 2.5rem;
    }

    @include mixins.desktop {
        margin: -7rem 8rem;
    }

    &__content-container {
        box-shadow: 0 .1875rem .625rem rgba(0, 0, 0, 0.2);
    }

    &__header-content { 
        display: flex;
        border-bottom: 1px solid variables.$color-borders;

        @include mixins.tablet {
            border-bottom: 2px solid variables.$color-borders;
        }
    }

    &__arrow-back-link {
        display: flex;
        margin-left: 1rem;

        @include mixins.tablet {
            margin-left: 2rem;
        }
    }

    &__arrow-back-button {
        border: none;
        background-color: transparent;
        padding: 0;
        margin-right: .5rem;
    }

    &__arrow-back-icon {
        margin-top: .25rem;
        cursor: pointer;

        @include mixins.desktop {
            margin-left: 1rem;
        }
    }

    &__header {
        color: variables.$color-primary-text;

        @include mixins.tablet {
            margin: 2.1875rem 0;
        }
    }
}