@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.warehouse-details-page {
    background-color: variables.$color-white;
    margin: -3.5rem 1rem;
    border-radius: .25rem;

        @include mixins.tablet {
            margin: -7rem 2.5rem;
        }

        @include mixins.desktop {
            margin: -7rem 8rem;
        }

    &__content-container {
        box-shadow: 0 .1875rem .625rem rgba(0, 0, 0, 0.2);
    }

    &__header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        @include mixins.tablet {
            padding: 0 2rem;
        }
    }

    &__header-container {
        display: flex;
        align-items: center;
    }

    &__arrow-back-button {
        border: none;
        background-color: transparent;
        height: 2.25rem;
        width: 2.25rem;
        margin-top: .25rem;
    }

    &__arrow-back-icon {
        cursor: pointer;
    }

    &__header {
        color: variables.$color-primary-text;

        @include mixins.tablet {
            margin: 2.1875rem 0;
        }
    }

    &__edit-button {
        background-color: variables.$color-primary-cta;
        border: none;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background-color: variables.$color-background-dark;
        }

        @include mixins.tablet {
            border-radius: 1.25rem;
            width: 5.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }

    &__edit-text {
        display: none;

        @include mixins.tablet {
            display: initial;
            color: variables.$color-white;
            @include mixins.label-link-button;
            margin: 0;
        }
    }

    &__edit-icon {
        filter: brightness(0) invert(1);
    }

    &__warehouse-details {
        border-top: 1px solid variables.$color-borders;

        @include mixins.tablet {
            display: flex;
            border-top: 2px solid variables.$color-borders;
            padding: 0 2rem;
        }
    }

    &__address-container {
        @include mixins.tablet {
            width: 35%;
            border-right: 2px solid variables.$color-borders;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem 0;
        }
    }

    &__warehouse-address-header {
        color: variables.$color-headers-placeholders;
        margin: 1rem 0 .5rem 1rem;

        @include mixins.tablet {
            margin-left: 0;
        }
    }

    &__warehouse-address {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 1rem 1rem; 

        @include mixins.tablet {
            margin-left: 0;
        }
    }

    &__contact-section-container {
        display: flex;
        padding: 0 1rem;

        @include mixins.tablet {
            width: 65%;
        }
    }

    &__contact-name-container {
        flex: 1;

        @include mixins.tablet {
            margin-left: 2rem;
        }
    }

    &__contact-name-header {
        color: variables.$color-headers-placeholders;
    }

    &__contact-name {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 .25rem 0;
    }

    &__contact-position {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 1rem 0;
    }

    &__contact-info-container {
        flex: 1;
    }

    &__contact-info-header {
        color: variables.$color-headers-placeholders;
    }

    &__contact-phone {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 .25rem 0;
    }

    &__contact-email {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 1rem 0;
    }
}