@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.warehouse-details-page {
    background-color: variables.$color-white;
    margin: -3.5rem 1rem;
    border-radius: .25rem;

    &__content-container {
        box-shadow: 0 .1875rem .625rem rgba(0, 0, 0, 0.2);
    }

    &__header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    &__header-container {
        display: flex;
        align-items: center;
    }

    &__arrow-back-button {
        border: none;
        background-color: transparent;
        height: 2.25rem;
        width: 2.25rem;
        margin-top: .25rem;
    }

    &__arrow-back-icon {
        cursor: pointer;
    }

    &__header {
        color: variables.$color-primary-text;
        @include mixins.mobile-page-header;
    }

    &__edit-button {
        background-color: variables.$color-primary-cta;
        border: none;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        cursor: pointer;
        
        &:hover {
            background-color: variables.$color-background-dark;
        }
    }

    &__edit-icon {
        filter: brightness(0) invert(1);
    }

    &__warehouse-details {
        border-top: 1px solid variables.$color-borders;
    }

    &__warehouse-address-header {
        @include mixins.mobile-table-header;
        color: variables.$color-headers-placeholders;
        margin: 1rem 0 .5rem 1rem;
    }

    &__warehouse-address {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 1rem 1rem; 
    }

    &__contact-parent-container {
        display: flex;
        justify-content: space-around;
        padding: 0 1rem;
    }

    // &__contact-name-container {

    // }

    &__contact-name-header {
        @include mixins.mobile-table-header;
        color: variables.$color-headers-placeholders;
    }

    &__contact-name {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 .25rem 0;
    }

    &__contact-position {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0;
    }

    // &__contact-info-container {

    // }

    &__contact-info-header {
        @include mixins.mobile-table-header;
        color: variables.$color-headers-placeholders;
    }

    &__contact-phone {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0 0 .25rem 0;
    }

    &__contact-email {
        @include mixins.mobile-body-medium;
        color: variables.$color-primary-text;
        margin: 0;
    }
}