@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.delete-warehouse-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    &__modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: variables.$color-white;
        padding: 2rem 1rem 1.5rem;
    }

    &__header {
        @include mixins.mobile-page-header;
    }

    &__body {
        @include mixins.mobile-body-large;
    }
}