@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';

.delete-warehouse-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    @include mixins.tablet {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(2px);
    }

    &__modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100rem;
        background-color: variables.$color-white;
        padding: 2rem 1rem 1.5rem;

        @include mixins.tablet {
            width: 85%;
            height: 15rem;
            position: absolute; //center
            left: 50%; //center
            top: 40%; //center
            transform: translate(-50%, -50%); //center
            justify-content: normal;
            padding: 2rem;
        }
    }

    &__close-button {
        display: none;

        @include mixins.tablet {
            display: initial;
            position: absolute;
            top: 5%;
            right: 2%;
            border: none;
            background: transparent;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__header {
        @include mixins.tablet {
            margin: 0 0 0 1rem;;
        }
    }

    &__body {
        @include mixins.mobile-body-large;

        @include mixins.tablet {
            @include mixins.body-large;
            width: 70%;
            margin-left: 1rem;
        }
    }

    &__button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @include mixins.tablet {
            justify-content: flex-end;
            margin: 1rem 2rem 0 0;
        }
    }

    &__cancel {
        cursor: pointer;
        width: 100%;
        @include mixins.cta-button-mobile;
        border: 1px solid variables.$color-borders;
        color: variables.$color-headers-placeholders;
        @include mixins.mobile-label-link-button;
        background-color: variables.$color-white;

        &:hover {
            border: 1px solid variables.$color-primary-cta;
            color: variables.$color-primary-cta;
        }

        @include mixins.tablet {
            width: 6rem;
            @include mixins.label-link-button;
        }
    }

    &__delete {
        cursor: pointer;
        width: 100%;
        @include mixins.cta-button-mobile;
        border: none;
        color: variables.$color-white;
        @include mixins.mobile-label-link-button;
        background-color: variables.$color-error;

        &:hover {
            background-color: variables.$color-background-dark;
        }

        @include mixins.tablet {
            width: 6rem;
            @include mixins.label-link-button;
        }
    }
}